body {
    background: #2A2A2A;
    color: #FAFAFA;
}


.player {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 4rem;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

#play-pause {
    display: none;
}

#play-pause:checked + #play-pause-label::after {
    content: '►';
    cursor: pointer;
}

#play-pause-label::after {
    content: '❙❙';
    cursor: pointer;
}